.fade-box .lazyload,
  .fade-box .lazyloading {
      opacity: 0;
      transition: opacity 400ms;
  }

  .fade-box img.lazyloaded {
      opacity: 1;
  }

.blur-up {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 400ms, -webkit-filter 400ms;
    }

  .blur-up.lazyloaded {
      -webkit-filter: blur(0);
      filter: blur(0);
  }

  .img-responsive {
    width:100%;
    height: auto;
  }

  .ReactModal__Content.ReactModal__Content--after-open img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
